table {
	border: 5px solid black;
}
td:hover {
	background-color: blue;
	color: orange;
}
tr, th {
	background-color: blue;
	color: orange;
}
tr, td {
	background-color: orange;
	color: white;
}